.donotshow {
  display: none;
}

#recipietable {
  width: 100%;
}

.colpossible {
  background-color: aqua;
}

#ingredientdiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.chooseaningredient {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#recipiedescription {
  width: 100%;
  align-self: center;
  display: flex;
}
