.donotshow {
  display: none;
}

#recipietable {
  width: 100%;
}

.colpossible {
  background-color: aqua;
}

.colhaverequired {
  background-color: rgb(255, 200, 0);
}

#ingredientdiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ingredientrow {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.chooseaningredient {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: rgb(81 242 226);
  padding: 15px;
  border-radius: 17px;
  gap: 10px;
}

#recipiedescription {
  width: 100%;
  align-self: center;
  display: flex;
  border-radius: 12px;
  font-size: 25px;
}

#secondrow {
  background-color: rgb(110, 85, 211);
  padding: 5px;
  border-radius: 15px;
  width: 95%;
  align-self: center;
  display: flex;
  margin-left: 2%;
}

#anyotherdescriptions {
  margin-left: 50px;
  margin-top: 30px;
}

#submitbutton,
#ingredientbutton {
  width: 175px;
  font-size: 30px;
  border-radius: 15px;
  background-color: darkorange;
  font-family: "Unbounded", cursive;
}

#ingredientbutton {
  width: 250px;
  font-size: 25px;
  margin: 10px;
}

.addrecipes {
  margin: 10px;
  font-size: 30px;
  border-radius: 15px;
  background-color: rgb(162, 0, 255);
  font-family: "Unbounded", cursive;
  width: 40%;
  padding: 10px;
}

#recipiename {
  width: 100%;
  align-self: center;
  display: flex;
  border-radius: 12px;
}

.ingredientclass,
.quantityclass {
  border-radius: 12px;
}

@media only screen and (max-width: 1200px) {
  table tbody tr td:nth-child(3),
  table tbody tr td:nth-child(4),
  table tbody tr th:nth-child(3),
  table tbody tr th:nth-child(4) {
    display: block;
  }
  table tbody tr td:nth-child(2),
  table tbody tr th:nth-child(2) {
    display: none;
  }
  table tbody tr td:nth-child(1),
  table tbody tr td:nth-child(3),
  table tbody tr td:nth-child(4) {
    font-size: 15px;
  }
  .ingredientrow {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }
  .chooseaningredient {
    width: 80%;
  }
  #secondrow {
    flex-direction: column;
  }
  #submitbutton {
    width: 270px;
    font-size: 50px;
    margin-bottom: 15px;
  }
  #anyotherdescriptions {
    margin-left: 10px;
    margin-top: 15px;
  }
  .addrecipes {
    width: 80%;
  }
}
